.promo-text-container{
    position: relative;
    display: flex;
    justify-content: center;
    min-width: 30%;
    height: 100%;
}

.promo-text-container p{
    display: none;
    width: 100%;
    z-index: 100;
    transition: all 1s;
}

#current-promo{
    display: block;
    color: white;
    z-index: 200;
}