@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
    font-family: 'Libre Franklin', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
    overscroll-behavior: none;
  }

main {
    padding-top: 135px;
}

header{
    z-index: 1000;
    width: 100%;
    height: 135px;
}

#root{
    background-color: rgb(249, 235, 235);
}


@media (width < 833px) {
    main{
        padding-top: 100px;
    }
}

